<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanitor</title>


    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
    
    <link rel="stylesheet" href="/styles/responsive.css">

</head>
<body>

    <div id="page-home">
        <div class="content">        
            <header>
                <img src="/assets/logo.png" alt="Logomarca">
                <a href="/create-post" id="a1">
                    <span></span>
                    Cadastre um problema
                </a>
                
                <a href="/index3" id="a2">
                    <span></span>
                    Realizar cadastro
                </a>
            </header>
            
            <main>

                <h1>Sua rede de soluções sanitárias</h1>
        
                     
                <p>Ajude pessoas a solucionar necessidades sanitárias.</p>
        
                <a href="#"><span></span><strong>Pesquisar problemas cadastrados</strong></a>

            </main>            
        
        </div>

    </div>  
    
    <div id="modal" class="hide">
        <div class="content">
            <div class="header">
                <h1>Problemas cadastrados</h1>
                <a href="#">Fechar</a>
            </div>
            <form action="/search-results">
                <label for="search">Cidade</label>
                <div class="search field">
                    <input 
                    type="text" 
                    name="search"
                    placeholder="Pesquise por cidade">
                    <button>
                        <img src="/assets/search.svg" alt="Buscar">
                    </button>
                </div>
            </form>
        </div>
    </div>    

    <script src="/scripts/index2.js"></script>
    
</body>
</html>
